@using TestProjects.MVC.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    <div>
        <span>Data：</span>
        @if (Model != null && Model.Count > 0)
        {
            foreach (Statistics obj in Model)
            {
                @obj.Id
                @obj.Name
                @obj.TotalUsers
            }
        }
        <div class="main">
            @Html.ActionLink("More..", "index", "sms")
        </div>
        <div class="container">
            <p>
                @Html.Raw("额，有关注上一交易日的股指期货吗？<img src=\"/Content/images/face/2.gif\" /><img src=\"/Content/images/face/27.gif\" /><img src=\"/Content/images/face/999.gif\" /><img src=\"/Content/images/face/999.gif\" /><img src=\"/Content/images/face/999.gif\" /> ")
            </p>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/page/test.js"></script>
</body>
</html>
